@use "../../variables";

.dropdown-menu, .user-footer {
  background: var(--colorbackvmenu1) !important;
  color: var(--colortextbackhmenu) !important;
  /*.dropdown-item {
    color: var(--colorbackvmenu1) !important;
  }
  a.top-menu-dropdown-link {
    color: var(--colortextlink) !important;
  }
  .user-body {
    color: inherit !important;
  }
  .user-footer {
    background: var(--colorbackhmenu1) !important;
  }*/
}
.dropdown-menu > .bookmark-footer {
  @extend .dropdown-menu;
}

.user-body {
  background: var(--colorbackvmenu1) !important;
}

@media (min-width: variables.$screen-width-x) {
  .login_block .dropdown-menu {
    top: auto;
  }
}
