ul.tmenu {
  &:after {
    align-self: stretch;
    justify-self: stretch;

    z-index: var(--z_index30);
    background: linear-gradient(to right, transparent, var(--colorbackhmenu1));
    order: 5;
    position: sticky;
    pointer-events: none;
    bottom: 0;
    right: 0;
    min-width: 4em;
  }
}
ul.tmenu {
  position: relative;
  width: 100%;
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  // justify-content: flex-start !important;
  align-content: stretch;
  gap: 0.1rem;
  color: var(--colortextbackhmenu);
  & > li {
    display: var(--display, flex);
    align-items: var(--alignItems, center);
    justify-content: var(--justifyContent, center);
    align-self: stretch;
    padding: 0;
    // min-width: auto !important;
    min-width: var(--minWidth, auto) !important;
    flex: var(--flex, 1);
    /* ALTERNATIVES */
    order: 1;
    &#mainmenutd_menu {
      // border: solid 1px blue;
      z-index: var(--z_index70);
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
      position: sticky;
      // padding: 0 !important;
      background: linear-gradient(
        to right,
        transparent,
        var(--colorbackhmenu1)
      );

      &:before {
        content: "";
        background: var(--colortexttitlelink);
        display: block;
        position: absolute;
        // z-index: 10;
        top: 0.5em;
        aspect-ratio: 1;
        // right: 0.5em;
        bottom: 0.5em;
        // left: 0.5em;
        border-radius: 2em;
      }

      a {
        &#mainmenua_menu {
          display: none !important;
        }
      }
    }
    &.tmenusel {
      // order: 0;
      //position: sticky; #161
      // bottom: 0;
      // right: 0;
      z-index: var(--z_index40);
      &:before {
        content: "";
        position: absolute;
        top: 0;
        opacity: 0.5;
        right: 0;
        bottom: 0;
        left: 0;
        background: var(--colorbackhmenu1);
        filter: invert(0.5);
        z-index: var(--z_index10);
      }

      div.tmenucenter {
        position: relative;
        z-index: var(--z_index20);
      }
    }
    &.tmenucompanylogo {
      order: -10;
    }

    /* CHILDRENS */
    &:after {
      content: "";
      display: none;
    }
    div.mainmenu {
      height: auto !important; // Important overload eldy
    }

    &:not(.tmenucompanylogo, #mainmenutd_menu) {
      div.tmenucenter {
        @include hover_style_button(var(--colortexttitlelink));
      }
    }
    div.tmenucenter {
      display: flex;
      align-self: var(--alignSelf, stretch);
      flex-direction: var(--flexDirection, column);
      align-items: var(--alignItems, center);
      justify-content: var(--justifyContent, center);
      padding: 0 !important;
      height: var(--height, auto) !important; // Overload Eldy
      width: 100% !important;
      max-width: none;
    }
  }
}

#topmenu-login-dropdown {
  & > a {
    flex-direction: column;
    display: flex;

    justify-content: center;
    align-items: center;
    &:after {
      content: unset;
    }
  }
  span.atoploginusername {
    display: none;
    font-size: 0.875rem;
    padding: 0.25rem;
    // max-width: 5em;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

span.fa.fa-print.atoplogin:before {
  content: "\f002";
}
