@mixin caption() {
  font-size: 0.8em;
}
@mixin label() {
  font-size: 0.75rem;
  // font-weight:   bold;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  display: block;
  letter-spacing: 0.0667rem;
  opacity: 1;
}

@mixin major_title {
  line-height: 1.125em !important;
  font-size: 1.125rem;
  font-weight: bold;
}
@mixin title_section() {
  font-size: 1.5rem;
  font-weight: bold;
}

@mixin title_subsection() {
  font-size: 1rem;
  font-weight: bold;
}
@mixin title_fiche() {
}
