input#options_ganttproadvancedcolor {
    width: 70px;
    min-width: 70px;
    padding: 0;
    cursor: pointer;
}
td[id*="project_task_extras_ganttproadvancedcolor_"] span {
    padding: 4px 8px;
    border-radius: 14px;
}
td[id*="project_extras_ganttproadvancedprojectprogress_"]:after {
    content: " %";
}

tr.ganttproadvanced_activity_cantedit input 
/*, tr.ganttproadvanced_activity_cantedit select*/
{
    pointer-events: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    background-color: #e0e0e0;
}

.config_filterspansearchremovefilter .button_removefilter span
{
    opacity:1 !important;
}
.config_filterspansearchremovefilter button
,.config_filterspansearchremovefilter button span
{
    font-size: 8px !important;
}
.config_filterspansearchremovefilter{
    line-height: 29px;
}