#id-left #BoxInterventionSidebar {
  * {
    line-height: initial !important;
  }
  & > * {
    margin-bottom: 1em;
    &[class*="boxfield"] {
      padding-left: 0;
      padding-right: 0;
    }
  }

  & > [class*="boxfield"] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .link-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .intervention-sidebar__elem {
    // background: var(--color_back_vmenu);
    position: sticky;
    top: 0;

    & > * {
      margin: 0;
    }
    .label {
      @include label();
    }
    span {
      @include major_title();
    }
    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: var(--z_index0);

      /**/
      background: var(--color_back_vmenu);
      -webkit-mask-image: linear-gradient(black, transparent);
      // -webkit-backdrop-filter: blur(10px);
      // backdrop-filter: blur(10px);
    }
  }
}
