div.tabsAction {
  @include max-width-sm {
    --position: relative;
    // bottom: 0;
  }
  @include tabsAction();
  z-index: var(--z_index30);
}
.fiche > form > .center, // #120
.tabBar > form > .center:last-of-type,
.tabBar > .center {
  --margin: auto -1rem 0 !important;
  --width: calc(100% + 2rem);
  @include max-width-sm {
    --position: relative;
    // bottom: 0;
  }
  @include tabsAction();
}

div.tabsAction {
  z-index: var(--z_index70) !important; //#175 //#372
}

div.liste_titre_bydiv {
  margin: 0;
  // border: solid 5px yellow;
}

img.pictotitle {
  max-width: 2em;
  max-height: 2em;
}

// div[style*="vertical-align: middle"] {
// display: inline-flex;
// align-items: center;
// }

/* CUSTOM ITEM TIER GLOBAL */
a[href*="/societe/card.php"].classfortooltip {
  position: relative;
  padding-left: 1.25em;
  padding-right: 0.25em;
  white-space: normal;
  .fa-building {
    top: 0;
    line-height: inherit;
    position: absolute;
    left: 0;
  }
}
td a[href*="/societe/card.php"].classfortooltip {
  min-width: 200px;
  display: block;
}

/* CUSTOM OBJECT INTER */
a[href*="/interventionplus/interventionplus_card.php"].classfortooltip {
  white-space: nowrap;
}

.select2-dropdown.select2-dropdown--below {
  z-index: 1070; // #167 1070 car sweetalert a un z-index à 1060
}

ul.ulselectedfields {
  z-index: var(--z_index100);
}

.swal-makeorder {
  @include max-width-sm() {
    overflow-y: auto;
  }
}

.multichoicedoc {
  left: 240px !important;
  top: -20px;
}

div.info {
  color: var(--btn-color-utility);
  background: color-mix(in srgb, currentColor 16%, transparent);
}


#hidespan {
  padding: 0.2em;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

//#258
#searchFieldsContainer > td.liste_titre.maxwidthsearch > div.nowrap {
  & > button > span, & > div > button > span{
    color: black !important;
  }
}

div.multiselectlinkto > ul.ulselectedfields.open {
    top: -100px !important;
}

//#365
div.multiselectlinkto > ul.ulselectedfields.open {
  max-height: 225px;
}

//#369
form#searchFormList table.liste,
form#searchFormList table.noborder,
form#searchFormList table.formdoc,
form#searchFormList div.noborder {
  margin-bottom: 60px !important; // #369
}