/*@media screen and (min-width: 1250px) and (max-width: 1650px) {
  #tablelines > tbody > tr {
    td:not(.linecoldescription) {
      max-width: var(--cellwidth,200px) !important;
    }
  }

  #tablelines > thead > tr {
    td:not(.linecoldescription) {
      max-width: var(--cellwidth,200px) !important;
    }
  }
}

@media screen and (max-width: 1249px) {
  #tablelines > tbody > tr {
    td:not(.linecoldescription) {
      max-width: calc(var(--cellwidth,200px) - 50px) !important;
    }
  }

  #tablelines > thead > tr {
    td:not(.linecoldescription) {
      max-width: calc(var(--cellwidth,200px) - 50px) !important;
    }
  }
}

#tablelines > tbody > tr {
  td.linecoldescription > table > tbody > tr > td {
    min-width: 0px !important;
    max-width: 100% !important
  }

  td.linecoldescription {
    min-width: 0px !important;
    max-width: 100% !important
  }

  td:not(.linecoldescription) {
    min-width: 0px !important;
    width: fit-content !important;
  }
}

#tablelines > thead > tr {
  td:not(.linecoldescription) {
    min-width: 0px !important;
    width: fit-content !important;
  }
}

#tablelines > tbody > tr > td > select {
  min-width: 0px !important;
  max-width: 100% !important;
}
*/

table#tablelines > tbody > tr.drag.drop.oddeven.selected-sortable-item {
  background: color-mix(in srgb, var(--colorbackhmenu1) 50%, transparent) !important;
}