.timeline {
  li {
    .timeline-item {
      color: var(--colortext);
      .timeline-header {
        color: inherit;
      }
    }
  }
  li:nth-child(odd) {
    .timeline-item {
      background: var(--colorbacklinepair1);
    }
  }
  li:nth-child(even) {
    .timeline-item {
      background: var(--colorbacklineimpair1);
    }
  }
}
