:root {
  /*Overload Eldy*/
  --colorbackhmenu1: hsl(215, 30%, 5%);
  --colorbackvmenu1: hsl(215, 30%, 10%);
  --colorbackbody: hsl(215, 20%, 15%);
  --colorbacktitle1: hsl(215, 20%, 10%);
  --colorbacklinepair1: hsl(215, 20%, 15%);
  --colorbacklinepair2: var(--colorbacklinepair1);
  --colorbacklineimpair1: hsl(215, 20%, 20%);
  --colorbacklineimpair2: var(--colorbacklineimpair1);
  --colorbacklinepairhover: hsl(215, 15%, 25%);
  --colorbacklineimpairhover: var(--colorbacklinepairhover);
  --inputbackgroundcolor: hsl(215, 30%, 10%);
  --colorbacktabcard1: color-mix(in srgb, currentColor 5%, transparent);
  --btncolorbg: var(--colorbackvmenu1);
  --colortext: hsl(215, 30%, 90%);
  --colortextbackhmenu: hsl(215, 30%, 90%);
  --colortextlink: hsl(215, 100%, 66%);
  --colortexttitlelink: hsl(215, 100%, 66%);

  /*Quarantedeux palette*/
  --btn-color-success: hsl(136, 65%, 48%);
  --btn-color-utility: var(--colortextlink);
  --btn-color-warning: hsl(48, 80%, 60%);
  --btn-color-danger: hsl(354, 90%, 60%);
}
td.amount,
span.amount,
div.amount,
b.amount {
  color: var(--btn-color-success);
}

body {
  * {
    /*ALL border-color overload for lighten eyes */
    border-color: color-mix(in srgb, currentColor 15%, transparent) !important;
    /* Burk shadow in darkmode */
    box-shadow: unset !important;
  }
}

.select2-container--default .select2-results__option[aria-selected="true"] {
  background: color-mix(in srgb, currentColor 10%, transparent);
}

// #MAIN_IHM_CUSTOM_CSSaceeditorid,
.cke {
  background: var(--colorbackvmenu1) !important;
  .cke_inner {
    mix-blend-mode: lighten;
    filter: invert(1);
  }
}

.dolgraphchart {
  canvas {
    mix-blend-mode: lighten;
    filter: invert(1);
  }
}
