.multicompany_checker {
  padding: 1rem;
  display: block;
  background: var(--color_text_link);
  border-radius: var(--border-radius);
  color: var(--color_text_link_contrast);
  font-weight: bold;
  margin: 1rem auto;
  .clearboth {
    display: block !important;
  }
}
