@charset "UTF-8";
/* BREAKPOINTS */
/* 1 - Fonctions primaires */
/* BREAKPOINTS */
/* Detection de l'orientation de l'écran entre portrait ou paysage */
/* smartphones, touchscreens */
/* stylus-based screens */
/* Nintendo Wii controller, Microsoft Kinect */
/* mouse, touch pad */
/* at least one input mechanism of the device includes a pointing device of limited accuracy. */
/* at least one input mechanism of the device includes an accurate pointing device. */
/* the device does not include any pointing device. */
/* one or more available input mechanism(s) can hover over elements with ease */
/* one or more available input mechanism(s) can hover, but not with ease (for example simulating the hovering when performing a long touch) */
/* one or more available input mechanism(s) cannot hover or there are no pointing input mechanisms */
/* TEST */
/* TEST */ /* For overstyle all paginations... */
@media (orientation: landscape) {
  #id-top {
    box-shadow: 0 0 0 0 var(--colortexttitlelink);
  }
  #id-top:hover {
    --width-primary-menu: clamp(15em, 15vw, 20em);
    box-shadow: 0 0 6em -3em var(--colortexttitlelink);
  }
  #id-top:hover a[class*=tmenu][id^=mainmenua],
  #id-top:hover a.tmenulabel {
    --transition: all 0.5s;
    --width: 100%;
    --opacity: 1;
  }
  #id-top:hover ul.tmenu > li:nth-child(0) a[class*=tmenu][id^=mainmenua],
  #id-top:hover ul.tmenu > li:nth-child(0) a.tmenulabel {
    transition-delay: 0s;
  }
  #id-top:hover ul.tmenu > li:nth-child(1) a[class*=tmenu][id^=mainmenua],
  #id-top:hover ul.tmenu > li:nth-child(1) a.tmenulabel {
    transition-delay: 0.02s;
  }
  #id-top:hover ul.tmenu > li:nth-child(2) a[class*=tmenu][id^=mainmenua],
  #id-top:hover ul.tmenu > li:nth-child(2) a.tmenulabel {
    transition-delay: 0.04s;
  }
  #id-top:hover ul.tmenu > li:nth-child(3) a[class*=tmenu][id^=mainmenua],
  #id-top:hover ul.tmenu > li:nth-child(3) a.tmenulabel {
    transition-delay: 0.06s;
  }
  #id-top:hover ul.tmenu > li:nth-child(4) a[class*=tmenu][id^=mainmenua],
  #id-top:hover ul.tmenu > li:nth-child(4) a.tmenulabel {
    transition-delay: 0.08s;
  }
  #id-top:hover ul.tmenu > li:nth-child(5) a[class*=tmenu][id^=mainmenua],
  #id-top:hover ul.tmenu > li:nth-child(5) a.tmenulabel {
    transition-delay: 0.1s;
  }
  #id-top:hover ul.tmenu > li:nth-child(6) a[class*=tmenu][id^=mainmenua],
  #id-top:hover ul.tmenu > li:nth-child(6) a.tmenulabel {
    transition-delay: 0.12s;
  }
  #id-top:hover ul.tmenu > li:nth-child(7) a[class*=tmenu][id^=mainmenua],
  #id-top:hover ul.tmenu > li:nth-child(7) a.tmenulabel {
    transition-delay: 0.14s;
  }
  #id-top:hover ul.tmenu > li:nth-child(8) a[class*=tmenu][id^=mainmenua],
  #id-top:hover ul.tmenu > li:nth-child(8) a.tmenulabel {
    transition-delay: 0.16s;
  }
  #id-top:hover ul.tmenu > li:nth-child(9) a[class*=tmenu][id^=mainmenua],
  #id-top:hover ul.tmenu > li:nth-child(9) a.tmenulabel {
    transition-delay: 0.18s;
  }
  #id-top:hover ul.tmenu > li:nth-child(10) a[class*=tmenu][id^=mainmenua],
  #id-top:hover ul.tmenu > li:nth-child(10) a.tmenulabel {
    transition-delay: 0.2s;
  }
  #id-top:hover ul.tmenu > li:nth-child(11) a[class*=tmenu][id^=mainmenua],
  #id-top:hover ul.tmenu > li:nth-child(11) a.tmenulabel {
    transition-delay: 0.22s;
  }
  #id-top:hover ul.tmenu > li:nth-child(12) a[class*=tmenu][id^=mainmenua],
  #id-top:hover ul.tmenu > li:nth-child(12) a.tmenulabel {
    transition-delay: 0.24s;
  }
  #id-top:hover ul.tmenu > li:nth-child(13) a[class*=tmenu][id^=mainmenua],
  #id-top:hover ul.tmenu > li:nth-child(13) a.tmenulabel {
    transition-delay: 0.26s;
  }
  #id-top:hover ul.tmenu > li:nth-child(14) a[class*=tmenu][id^=mainmenua],
  #id-top:hover ul.tmenu > li:nth-child(14) a.tmenulabel {
    transition-delay: 0.28s;
  }
  #id-top:hover ul.tmenu > li:nth-child(15) a[class*=tmenu][id^=mainmenua],
  #id-top:hover ul.tmenu > li:nth-child(15) a.tmenulabel {
    transition-delay: 0.3s;
  }
  #id-top:hover ul.tmenu > li:nth-child(16) a[class*=tmenu][id^=mainmenua],
  #id-top:hover ul.tmenu > li:nth-child(16) a.tmenulabel {
    transition-delay: 0.32s;
  }
  #id-top:hover ul.tmenu > li:nth-child(17) a[class*=tmenu][id^=mainmenua],
  #id-top:hover ul.tmenu > li:nth-child(17) a.tmenulabel {
    transition-delay: 0.34s;
  }
  #id-top:hover ul.tmenu > li:nth-child(18) a[class*=tmenu][id^=mainmenua],
  #id-top:hover ul.tmenu > li:nth-child(18) a.tmenulabel {
    transition-delay: 0.36s;
  }
  #id-top:hover ul.tmenu > li:nth-child(19) a[class*=tmenu][id^=mainmenua],
  #id-top:hover ul.tmenu > li:nth-child(19) a.tmenulabel {
    transition-delay: 0.38s;
  }
  #id-top div.tmenucenter {
    --flexDirection: row;
    --alignSelf: stretch;
  }
  #id-top a.tmenuimage {
    --padding: 0.5em 1em;
    --flex: 1 1 auto;
  }
  #id-top a[class*=tmenu][id^=mainmenua],
  #id-top a.tmenulabel {
    --fontSize: 1rem;
    --opacity: 0;
    --width: 0;
    --padding: 0.5em 0;
    --display: inline-flex;
    --alignItems: center;
    --textAlign: left;
    --overflow: hidden;
  }
}
