div.navigation-tab {
  margin-top: 0;
  display: flex;
  width: 100%;
  //overflow: hidden; // #164
  //justify-content: center; // #164
  overflow-x: scroll; // #164
  overflow-y: hidden; // #164
  border: none;
  background-color: transparent;
  //color: var(--colortexttitle);
  border-bottom: 1px solid var(--border-color-light);
  column-span: all !important;
  a.tablink {
    flex-grow: 2;
    --height: auto; // #164

    @include tab-item();
    background: var(--colorbackbody);
    &#addPartBtn {
      opacity: 1;
      flex-grow: 0;
      color: var(--color_text_link);
    }
    &.active {
      @include tab-item-active();
      background: var(--colorbacklinepair1);
      pointer-events: none;
    }
  }
}
div.tabcontent {
  column-span: all !important;
  padding: 0;
  border: none;
}
