html {
  font-size: 80%;
  /* 80% Of default navigator font size (16px * 0.8 = 12.8px) */
  @include pixel-ratio(2) {
    font-size: 90%;
  }
}
* {
  box-sizing: border-box;
}

body {
  font-size: 1rem !important;
  position: fixed; //#265
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

  #id-container {
    // position: fixed;
    // top: 0;
    // right: 0;
    // bottom: 0;
    // left: 0;
    position: relative;
    max-width: 100%;
    overflow: hidden; /*hidden For custom scrollbar*/
    height: 100%;
    display: block;
  }

  #id-right,
  #id-left {
    display: flex !important; // Overloads MD's .classforhorizontalscrolloftabs #id-right behavior
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
    // min-height: 100%;
    & > .fiche {
    }
  }
  #id-right {
    height: 100%;
    overflow: auto;
    & > .fiche {
      margin: 0 !important;
      display: flex;
      flex-direction: column;
      // gap: 1rem;
      //min-height: 100%; #263
      position: relative;
      flex-grow: 1;
      @include min-width-md {
        // height: 100%; /* ? */
      }
      & > *:not(form[action*="list.php"]) {
        height: auto;
        width: var(--aligncenter);
        margin-left: auto;
        margin-right: auto;
        &:not(:first-child) {
          margin: var(--margin, 0 auto) !important;
        }
      }
      & > form[action*="card.php"],
      & > form[action*="tasks.php"] {
        &:not(:first-child) {
          // Exclude fiche projet, include all form for create new content
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          gap: 1rem;
        }
      }
    }
    & > .fiche.admin-limits { // #348
      display: block;
    }
  }
}

body {
  &:not(.sidebar-collapse) {
    .side-nav {
      visibility: visible;
      position: absolute !important;
    }
    @include max-width-sm {
      .side-nav {
        visibility: visible;
        position: absolute !important;
      }
    }
  }
  &.sidebar-collapse {
    .side-nav {
      visibility: hidden;
    }
    #id-container {
      // padding-left: var(--width-primary-menu);
    }
  }
  @include max-width-sm {
    &.sidebar-collapse {
      .side-nav {
        visibility: hidden;
      }
      #id-container {
        // padding-left: var(--width-primary-menu);
      }
    }
  }
  @include min-width-sm {
    &.sidebar-collapse {
      .side-nav {
        visibility: visible;
        position: absolute !important;
      }

      #id-right {
        width: calc(
          100% - var(--width-secondary-menu) - var(--width-primary-menu)
        );
        // width: 100%;
        overflow: auto;
        height: 100%;
        float: right;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    .menuhider {
      display: none !important;
    }
  }
}
