/* z-index 10 to 10 (max 100) */
:root {
  --z_index0: 0;
  --z_index10: 10;
  --z_index20: 20;
  --z_index30: 30;
  --z_index40: 40;
  --z_index50: 50;
  --z_index60: 60;
  --z_index70: 70;
  --z_index80: 80;
  --z_index90: 90;
  --z_index100: 100;
}
