@import "../../../scss/@mixins";

@include orientation_landscape {
  ul.tmenu {
    flex-direction: column;
    width: 100%;

    &:after {
      content: "";
      display: flex;
      min-height: 4em;
      background: linear-gradient(transparent, var(--colorbackhmenu1));
    }

    & > li {
      &#mainmenutd_menu {
        background: linear-gradient(
                        to top,
                        transparent,
                        var(--colorbackhmenu1)
        );
      }
    }
  }

  body {
    #id-top.side-nav-vert,
    .side-nav-vert {
      display: flex;
      flex-direction: column;
      height: 100%;
      position: fixed;
      transition: width 0.5s;
      width: var(--width-primary-menu);
      z-index: var(--z_index90);
      left: 0;
      top: 0;
      bottom: 0;
      #id-top {
        /*v13->v??*/
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
      }
    }
  }

  div.login_block {
    flex-direction: column-reverse;
    & > .login_block_user {
      .login_block_elem {
        flex-direction: column;
      }
    }
  }

  .tmenu div.dropdown-menu,
  .login_block div.dropdown-menu,
  .topnav div.dropdown-menu {
    right: auto;
    top: auto;
    bottom: 0;
    left: 100%;
  }

  #id-right.close:not(.is-mobile) {
    width: calc(100% - var(--width-primary-menu) - 4em) !important;
  }

  #id-right.open:not(.is-mobile) {
    width: calc(100% - (var(--width-primary-menu) + var(--width-secondary-menu))) !important;
  }

  body {
    @include min-width-sm {
      &.sidebar-collapse {
        .side-nav {
          left: var(--width-primary-menu);
        }
      }
    }
  }

  #id-container {
    padding-left: calc(var(--width-primary-menu) + var(--width-secondary-menu));
    transition: padding-left 0.5s;
  }
  @include max-width-md {
    #id-container {
      padding-left: var(--width-primary-menu);
    }
  }

  body {
    .menuhider {
      display: none !important;
    }
  }

  body > .breadCrumbHolder.module {
    padding-left: var(--width-primary-menu, 0);
  }

  .tmenusel > div.tmenucenter {
    box-shadow: inset -4px 0 0 var(--colortexttitlelink);
  }
}

@include orientation_portrait {
  .side-nav-vert,
  #id-top {
    div#tmenu_tooltip {
      overflow-x: auto;
      overflow-y: hidden;
    }
  }

  body {
    .side-nav-vert,
    #id-top {
      display: flex;
      width: 100%;
    }
  }

  div.login_block {
    padding: 0.25rem;
  }

  #id-right.close:not(.is-mobile) {
    width: calc(100% - 1.2em) !important;
  }

  #id-right.open:not(.is-mobile) {
    width: calc(100% - var(--width-secondary-menu)) !important;
  }

  body {
    @include min-width-md {
      &.sidebar-collapse {
        #id-right {
          width: calc(100% - var(--width-secondary-menu));
        }
      }
    }
  }

  body > .breadCrumbHolder.module {
    padding-left: 0 !important;
  }

  .tmenusel > div.tmenucenter {
    box-shadow: inset 0 -4px 0 var(--colortexttitlelink);
  }

  .side-nav-vert,
  #id-top {
    order: 9;
    bottom: 0;
  }

  div[id^="topmenu-"] > div.dropdown-menu {
    bottom: 100%;
  }
}
