@charset "UTF-8";
/* BREAKPOINTS */
/* 1 - Fonctions primaires */
/* BREAKPOINTS */
/* Detection de l'orientation de l'écran entre portrait ou paysage */
/* smartphones, touchscreens */
/* stylus-based screens */
/* Nintendo Wii controller, Microsoft Kinect */
/* mouse, touch pad */
/* at least one input mechanism of the device includes a pointing device of limited accuracy. */
/* at least one input mechanism of the device includes an accurate pointing device. */
/* the device does not include any pointing device. */
/* one or more available input mechanism(s) can hover over elements with ease */
/* one or more available input mechanism(s) can hover, but not with ease (for example simulating the hovering when performing a long touch) */
/* one or more available input mechanism(s) cannot hover or there are no pointing input mechanisms */
/* TEST */
/* TEST */ /* For overstyle all paginations... */
@media (orientation: landscape) {
  ul.tmenu {
    flex-direction: column;
    width: 100%;
  }
  ul.tmenu:after {
    content: "";
    display: flex;
    min-height: 4em;
    background: linear-gradient(transparent, var(--colorbackhmenu1));
  }
  ul.tmenu > li#mainmenutd_menu {
    background: linear-gradient(to top, transparent, var(--colorbackhmenu1));
  }
  body #id-top.side-nav-vert,
  body .side-nav-vert {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: fixed;
    transition: width 0.5s;
    width: var(--width-primary-menu);
    z-index: var(--z_index90);
    left: 0;
    top: 0;
    bottom: 0;
  }
  body #id-top.side-nav-vert #id-top,
  body .side-nav-vert #id-top {
    /*v13->v??*/
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  div.login_block {
    flex-direction: column-reverse;
  }
  div.login_block > .login_block_user .login_block_elem {
    flex-direction: column;
  }
  .tmenu div.dropdown-menu,
  .login_block div.dropdown-menu,
  .topnav div.dropdown-menu {
    right: auto;
    top: auto;
    bottom: 0;
    left: 100%;
  }
  #id-right.close:not(.is-mobile) {
    width: calc(100% - var(--width-primary-menu) - 4em) !important;
  }
  #id-right.open:not(.is-mobile) {
    width: calc(100% - (var(--width-primary-menu) + var(--width-secondary-menu))) !important;
  }
}
@media (orientation: landscape) and (min-width: 768px) {
  body.sidebar-collapse .side-nav {
    left: var(--width-primary-menu);
  }
}
@media (orientation: landscape) {
  #id-container {
    padding-left: calc(var(--width-primary-menu) + var(--width-secondary-menu));
    transition: padding-left 0.5s;
  }
}
@media (orientation: landscape) and (max-width: 1024px) {
  #id-container {
    padding-left: var(--width-primary-menu);
  }
}
@media (orientation: landscape) {
  body .menuhider {
    display: none !important;
  }
  body > .breadCrumbHolder.module {
    padding-left: var(--width-primary-menu, 0);
  }
  .tmenusel > div.tmenucenter {
    box-shadow: inset -4px 0 0 var(--colortexttitlelink);
  }
}
@media (orientation: portrait) {
  .side-nav-vert div#tmenu_tooltip,
  #id-top div#tmenu_tooltip {
    overflow-x: auto;
    overflow-y: hidden;
  }
  body .side-nav-vert,
  body #id-top {
    display: flex;
    width: 100%;
  }
  div.login_block {
    padding: 0.25rem;
  }
  #id-right.close:not(.is-mobile) {
    width: calc(100% - 1.2em) !important;
  }
  #id-right.open:not(.is-mobile) {
    width: calc(100% - var(--width-secondary-menu)) !important;
  }
}
@media (orientation: portrait) and (min-width: 1024px) {
  body.sidebar-collapse #id-right {
    width: calc(100% - var(--width-secondary-menu));
  }
}
@media (orientation: portrait) {
  body > .breadCrumbHolder.module {
    padding-left: 0 !important;
  }
  .tmenusel > div.tmenucenter {
    box-shadow: inset 0 -4px 0 var(--colortexttitlelink);
  }
  .side-nav-vert,
  #id-top {
    order: 9;
    bottom: 0;
  }
  div[id^=topmenu-] > div.dropdown-menu {
    bottom: 100%;
  }
}
