@import "../../scss/@mixins.scss";
/* FIREFOX Only */
/* Firefox custom only bg color and string array for sizes : auto, thin, none; */
@mixin firefox-custom_scrollbar(
  $width: auto,
  $cursor_opacity: 30%,
  $bg: transparent,
  $color: currentColor
) {
  scrollbar-color: color-mix(in srgb, $color $cursor_opacity, transparent) $bg;
  scrollbar-width: $width /* auto / thin / none */;
}

/* SAFARI / CHROME Only */
/* Chrome and Edge custom bg, color and value for width (rem); */
/* Safari custom bg, color and value for width (rem); */
@mixin webkit-custom_scrollbar(
  $width: 0.5rem,
  $cursor_opacity: 30%,
  $bg: transparent,
  $color: currentColor,
  $radius: 0
) {
  &::-webkit-scrollbar {
    width: $width;
    height: $width;
    background-color: $bg;
  }
  &::-webkit-scrollbar-track {
    background-color: $bg;
  }
  &::-webkit-scrollbar-thumb {
    // border: solid calc(#{$width} / 3) transparent;
    outline-style: solid;
    outline-color: color-mix(in srgb, $color $cursor_opacity, transparent);
    outline-width: calc(#{$width} / 4);
    outline-offset: calc(#{$width} * -0.5);
    // box-sizing: border-box;
    border-radius: $width;
    // background: currentColor;
    // background: color-mix(in srgb, $color $cursor_opacity, transparent);

    &:hover {
      outline-width: calc(#{$width} / 2);
      // box-shadow: inset 0 0 0 $width color-mix(in srgb, $color 75%, transparent);

      cursor: pointer;
    }
  }
  &::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0);
  }
}


body * {
  scrollbar-gutter: stable;
}

@-moz-document url-prefix() {
  body * {
    @include firefox-custom_scrollbar(thin, 10%);
    &:hover {
      @include firefox-custom_scrollbar(thin, 50%);
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 0) {
body * {
  @include webkit-custom_scrollbar(1em, 10%);
  &:hover {
    @include webkit-custom_scrollbar(1em, 50%);
  }
}
}

#id-right > .fiche > form[action*="list.php"] div.div-table-responsive > table {
  /* FIX Scrollbarr bottom for list*/
  position: initial !important;
}

@include orientation_landscape {
  #id-top div#tmenu_tooltip {
    /*Reverse scrollbar position */
    direction: rtl;
    & > * {
      direction: ltr;
    }
  }
}
