div.tabBar {
  border-top: none;
  background: none;
  color: currentColor;

  margin-bottom: 0; // Overload Eldy -> 0 is for sticky taskbar
  padding-bottom: 0; // Overload Eldy -> 0 is for sticky taskbar
}

.fichecenter {
  & > .fichethirdleft {
  }
  & > .fichetwothirdright {
    @include min-width-md {
      padding-left: var(--column-gap);
    }
  }
}

.fiche {
  // padding-bottom: 10rem;
  & > .table-fiche-title:first-of-type {
    margin-top: 1rem;
  }
  & > form {
    & > .table-fiche-title:first-of-type {
      margin-top: 1rem;
    }

    & > .center:last-of-type {
    }
  }
}

/*DOLILOL V13*/
.fiche > img[src*="puce.png"] {
  width: 10px !important;
  height: 10px !important;
  display: none;
}

// #117
.fiche > img[src*="flags"] {
  width: 2em !important;
  margin-left: 80px !important;
}


@media (orientation: landscape) {
  div.inline-block.floatleft.valignmiddle.maxwidth750.marginbottomonly.refid.refidpadding {
    width: 100%;
    & > div.refidno {
      width: 100%;
      & > form[action*="/card.php"] {
        width: 80%;
        display: inline-flex;
        align-items: end;
        gap: 0.5em;

        & > input[id^="ref_"] {
          flex-grow: 6;
        }

        & > input.button {
          flex-grow: 1;
        }
      }
    }
  }
}

@media (orientation: portrait) {
  div.refidno > form[action*="/card.php"] > input[id^="ref_"] {
    width: 100%;
  }
}

table#tablelines tr[id*="row-"] {
  scroll-margin-top: 100px !important; // #341
}

.prod_entry_mode_free,
.prod_entry_mode_predef {
  span.select2 {
    min-width: 100px;
  }
  input#search_idprod {
    min-width: 300px;
  }
}

tr.liste_titre input:not([type="checkbox"], [type="submit"]),
tr.liste_titre_filter input:not([type="checkbox"], [type="submit"]) {
  width: 100%;
}
