#id-right {
  & > .fiche {
    height: auto;
    & > form[action*="list.php"], & > .tabBar > form[action*="list.php"] {
      position: relative;
      width: 100%;
      max-width: 100%;
      overflow-y: auto;

      display: flex;
      flex-direction: column;
      flex-grow: 1;

      //#264
      height: 0px;

      .table-fiche-title {
        width: 100%;
        padding: 1rem;
        display: block;
        margin: 0 auto;
        & > tbody {
          width: 100%;
          display: block;
          & > tr {
            /*ROW*/
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            overflow-x: auto;
            & > td {
              /*CELLS FOR GLOBAL STYLE*/
              &.col-picto {
              }
              &.col-title {
                flex-grow: 1;
              }
              &.right {
                order: 2;
                @include paginations();
              }
            }
          }
        }
      }
      div.div-table-responsive {
        min-height: 50px;
        overflow-y: auto;
        overflow-x: auto;
        flex-grow: 1;
        width: 100%;
        position: relative;
        a {
          color: var(--colortext, black);
          &:not(.reposition) {
            text-decoration: underline;
            font-weight: bold;
          }
        }
        & > table {
          //position: relative; #319 -> incident with infinite scroll
          & > tbody,
          & > thead,
          & > tfoot {
            & > tr > td,
            & > tr > th {
              border-right: var(--border-width) var(--border-style)
              var(--border-color-light) !important;
              &.liste_titre {
                padding-bottom: 5px; //[#108]
                select,
                input,
                span[role*="textbox"] {
                  background: var(--colorbackbody);
                  border: var(--border-width) var(--border-style)
                  var(--border-color-light);
                  border-radius: var(--border-radius--medium);
                }
                input:not([type="checkbox"], [type="date"], .hasDatepicker, [name="search_month"]) {
                  min-width: 100%;
                }
              }
            }
          }

          tr.liste_titre {
            th {
              &[class*="liste_titre"] * {
                font-weight: bold !important;
              }
              &.liste_titre a {
                color: inherit;
              }
              &.liste_titre_sel span,
              &.liste_titre_sel a {
                color: var(--colortextlink);
              }
            }
          }
          tr.liste_titre_filter {
            td.nowraponall {
              white-space: normal;
              > * {
                margin-bottom: 0.25em;
              }
            }
            td.parentonrightofpage {
              direction: ltr !important; // #328
            }
          }
          & > tbody {
            & > * {
              &.liste_titre_filter,
              &.liste_titre {
                & > *:last-of-type,
                & > *:first-of-type {
                  background: var(--colorbacktitle1) !important;
                }
              }
              &:nth-child(odd) {
                & > *:last-of-type,
                & > *:first-of-type {
                  background: var(--colorbacklinepair1);
                }
              }
              &:nth-child(even) {
                & > *:last-of-type,
                & > *:first-of-type {
                  background: var(--colorbacklineimpair1);
                }
              }
            }
          }
        }
        tr.highlight {
          & > td {
            background: var(--colorbacklinepairchecked) !important;
          }
          &:hover {
            & > td {
              background: var(--colorbacklinepairhover) !important;
            }
          }
        }
      }
    }

    & > form#searchFormList[action*="blockedlog_list.php"] {
      height: initial !important;
      flex-grow: initial !important;
    }

    // #271
    & > .tabBar > form[action="/admin/mails_senderprofile_list.php"], & > .tabBar > form[action="/admin/emailcollector_list.php"] {
      height: 100%;
    }

    & > form[action*="movement_list.php"] {
      position: static;
    }

    div.liste_titre.liste_titre_bydiv.centpercent {
      min-height: 45px !important;
      flex-shrink: 0;
    }
  }
}

div.div-table-responsive {
  overflow: auto !important;
}

tr.liste_titre th.liste_titre_sel:not(.maxwidthsearch),
tr.liste_titre td.liste_titre_sel:not(.maxwidthsearch),
tr.liste_titre th.liste_titre:not(.maxwidthsearch),
tr.liste_titre td.liste_titre:not(.maxwidthsearch) {
  opacity: initial !important;
}


/* Bug sur mobile -> seulement sur la liste des interventions */
@include touchscreens() {
  table.liste tbody.ui-selectable {
    -ms-touch-action: unset !important;
    touch-action: unset !important;
  }
}

// #292 // #315
#ui-datepicker-div {
  z-index: 1010 !important; // because clone popup has a z-index at 1005
}

@include max-width-sm() {
  div.liste_titre_bydiv .divsearchfield {
    font-size: 0.8rem;
    padding-bottom: 10px;

    li.select2-selection__choice {
      display: flex;
    }
  }

  form#searchFormList > div.liste_titre.liste_titre_bydiv {
    display: inline-table !important;
  }
}

/**
 * Global z-index layout of the listing
 * See issue #89 for a visual representation
 */
form[action*="list.php"] > div.div-table-responsive > table {
  /**
   * Main Layout
   */
  & > * > tr > td:first-child,
  & > * > tr > th:first-child {
    @include min-width-sm {
      position: sticky;
      left: 0;
    }
    z-index: 1;
  }

  & > * > tr > td:last-child,
  & > * > tr > th:last-child {
    position: sticky;
    right: 0;
    z-index: 1;
    border-left: var(--border-width) var(--border-style)
    var(--border-color-light);
  }

  /**
   * Headers
   */
  thead {
    position: sticky;
    top: 0;
    z-index: 3;

    & > tr > .liste_titre:first-child,
    & > tr > .liste_titre_sel:first-child {
      @include min-width-sm {
        position: sticky;
        left: 0;
        background: inherit;
      }
      z-index: 4;
    }

    & > tr > .liste_titre:last-child {
      position: sticky;
      z-index: 4;
      right: 0;
      background: inherit;
    }

    & > tr:first-child {
      position: sticky;
      z-index: 5;
      top: 0;

      & > .liste_titre:first-child,
      & > .liste_titre_sel:first-child{
        @include min-width-sm {
          position: sticky;
          left: 0;
          background: inherit;
        }
        z-index: 6;
      }
      & > .liste_titre:last-child {
        position: sticky;
        z-index: 6;
        right: 0;
        background: inherit;
      }
    }
  }

  /**
   * Footer / Total line
   */
  tr.liste_total {
    position: sticky;
    bottom: 0;
    z-index: 2 !important; // Important needed to overload a behavior on Dolibarr v10

    & > td:first-child {
      @include min-width-sm {
        position: sticky;
        left: 0;
      }
      z-index: 3;
    }
    & > td:last-child {
      position: sticky;
      z-index: 3;
      right: 0;
      border-left: var(--border-width) var(--border-style)
      var(--border-color-light);
    }
  }
}
