form[action="/git-dolibarr/htdocs/admin/modules.php"] {
  display: flex;
  flex-direction: column;
  gap: var(--row-gap);
  & > * {
    width: var(--aligncenter);
    margin: 0 auto;
  }
  .info {
    order: -1;
  }
  .tabBar {
    & > * {
    }
  }
}
