@mixin tabsAction() {
  --margin: auto 0 0;
  /* Position */
  order: 99;
  flex: none;
  position: var(--position, sticky);
  bottom: 0;
  right: 0;
  left: 0;
  margin: var(--margin) !important;
  margin-top: auto !important; // Important for fix to bottom -> only in display flex column container
  width: var(--width, 100%) !important; /*OVERLOAD --aligncenter */

  /* Inset layout */
  display: flex;
  flex-wrap: wrap; // #125
  gap: 1rem;
  white-space: nowrap;
  overflow-x: auto;
  padding: 1rem;

  /* Styles */
  // border-top: solid 1px var(--border-color-light, --border-color);
  border-top: unset;
  // background: var(--colorbackvmenu1); /* <- If color-mix is uncompatible */
  // background: color-mix(in srgb, var(--colorbackvmenu1) 30%, transparent);
  // background: linear-gradient(transparent, var(--colorbackvmenu1));
  background: linear-gradient(transparent, var(--colorbackbody));
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px); // Important for iOs
  // box-shadow: 0em -0.5rem 0.5rem -0em var(--colorbackbody);

  /*Disable custom content*/
  // @content;
}
