@charset "UTF-8";
/* BREAKPOINTS */
/* 1 - Fonctions primaires */
/* BREAKPOINTS */
/* Detection de l'orientation de l'écran entre portrait ou paysage */
/* smartphones, touchscreens */
/* stylus-based screens */
/* Nintendo Wii controller, Microsoft Kinect */
/* mouse, touch pad */
/* at least one input mechanism of the device includes a pointing device of limited accuracy. */
/* at least one input mechanism of the device includes an accurate pointing device. */
/* the device does not include any pointing device. */
/* one or more available input mechanism(s) can hover over elements with ease */
/* one or more available input mechanism(s) can hover, but not with ease (for example simulating the hovering when performing a long touch) */
/* one or more available input mechanism(s) cannot hover or there are no pointing input mechanisms */
/* TEST */
/* TEST */ /* For overstyle all paginations... */
/* FIREFOX Only */
/* Firefox custom only bg color and string array for sizes : auto, thin, none; */
/* SAFARI / CHROME Only */
/* Chrome and Edge custom bg, color and value for width (rem); */
/* Safari custom bg, color and value for width (rem); */
body * {
  scrollbar-gutter: stable;
}

@-moz-document url-prefix() {
  body * {
    scrollbar-color: color-mix(in srgb, currentColor 10%, transparent) transparent;
    scrollbar-width: thin;
  }
  body *:hover {
    scrollbar-color: color-mix(in srgb, currentColor 50%, transparent) transparent;
    scrollbar-width: thin;
  }
}
@media (-webkit-min-device-pixel-ratio: 0) {
  body *::-webkit-scrollbar {
    width: 1em;
    height: 1em;
    background-color: transparent;
  }
  body *::-webkit-scrollbar-track {
    background-color: transparent;
  }
  body *::-webkit-scrollbar-thumb {
    outline-style: solid;
    outline-color: color-mix(in srgb, currentColor 10%, transparent);
    outline-width: calc(1em / 4);
    outline-offset: calc(1em * -0.5);
    border-radius: 1em;
  }
  body *::-webkit-scrollbar-thumb:hover {
    outline-width: calc(1em / 2);
    cursor: pointer;
  }
  body *::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0);
  }
  body *:hover::-webkit-scrollbar {
    width: 1em;
    height: 1em;
    background-color: transparent;
  }
  body *:hover::-webkit-scrollbar-track {
    background-color: transparent;
  }
  body *:hover::-webkit-scrollbar-thumb {
    outline-style: solid;
    outline-color: color-mix(in srgb, currentColor 50%, transparent);
    outline-width: calc(1em / 4);
    outline-offset: calc(1em * -0.5);
    border-radius: 1em;
  }
  body *:hover::-webkit-scrollbar-thumb:hover {
    outline-width: calc(1em / 2);
    cursor: pointer;
  }
  body *:hover::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0);
  }
}
#id-right > .fiche > form[action*="list.php"] div.div-table-responsive > table {
  /* FIX Scrollbarr bottom for list*/
  position: initial !important;
}

@media (orientation: landscape) {
  #id-top div#tmenu_tooltip {
    /*Reverse scrollbar position */
    direction: rtl;
  }
  #id-top div#tmenu_tooltip > * {
    direction: ltr;
  }
}
