@import "../../../scss/@mixins.scss";

a[class*="tmenu"][id^="mainmenua"] /*v13->v18->??*/,
a.tmenulabel {
  --textAlign: left;
  --padding: 1em;
  --fontSize: 1rem;
  --width: auto;
}

a.tmenuimage:not(.menuhider) {
  --display: none;
}

@include orientation_portrait {
  ul.tmenu > li {
    --minWidth: auto;
  }
}

div.topmenuimage {
  display: unset;
}
