// @import "../../../scss/variables";
@import "../../../scss/@mixins.scss";

@include max-width-md {
  body.sidebar-collapse {
    #id-top {
      &:hover {
        --width-primary-menu: clamp(100px, 10vw, 150px);
      }
    }
  }
}
@include min-width-md {
  #id-top {
    &:hover {
      --width-primary-menu: clamp(100px, 10vw, 150px);
    }
  }
}

a.tmenuimage {
  --flex: 2 1;
  --display: flex;
  --alignItems: center;
}
a[class*="tmenu"][id^="mainmenua"] /*v13->v18->??*/,
a.tmenulabel {
  --fontSize: 0.875rem;
  --flex: 0;
  --opacity: 0;
  --overflow: hidden;
  --padding: 0 0.5em;
}
div.tmenucenter {
  --height: 4em;
}

ul.tmenu > li {
  &:hover {
    a.tmenuimage {
    }
    a[class*="tmenu"][id^="mainmenua"] /*v13->v18->??*/,
    a.tmenulabel {
      --flex: 2 1;
      --opacity: 1;
      --padding: 0 0.5em 0.5em;
    }
  }
}
