@charset "UTF-8";
/* BREAKPOINTS */
/* 1 - Fonctions primaires */
/* BREAKPOINTS */
/* Detection de l'orientation de l'écran entre portrait ou paysage */
/* smartphones, touchscreens */
/* stylus-based screens */
/* Nintendo Wii controller, Microsoft Kinect */
/* mouse, touch pad */
/* at least one input mechanism of the device includes a pointing device of limited accuracy. */
/* at least one input mechanism of the device includes an accurate pointing device. */
/* the device does not include any pointing device. */
/* one or more available input mechanism(s) can hover over elements with ease */
/* one or more available input mechanism(s) can hover, but not with ease (for example simulating the hovering when performing a long touch) */
/* one or more available input mechanism(s) cannot hover or there are no pointing input mechanisms */
/* TEST */
/* TEST */ /* For overstyle all paginations... */
@media (max-width: 1024px) {
  body.sidebar-collapse #id-top:hover {
    --width-primary-menu: clamp(100px, 10vw, 150px);
  }
}
@media (min-width: 1024px) {
  #id-top:hover {
    --width-primary-menu: clamp(100px, 10vw, 150px);
  }
}
a.tmenuimage {
  --flex: 2 1;
  --display: flex;
  --alignItems: center;
}

a[class*=tmenu][id^=mainmenua],
a.tmenulabel {
  --fontSize: 0.875rem;
  --flex: 0;
  --opacity: 0;
  --overflow: hidden;
  --padding: 0 0.5em;
}

div.tmenucenter {
  --height: 4em;
}

ul.tmenu > li:hover a[class*=tmenu][id^=mainmenua],
ul.tmenu > li:hover a.tmenulabel {
  --flex: 2 1;
  --opacity: 1;
  --padding: 0 0.5em 0.5em;
}
