@mixin oneboxcontainer() {
  border: var(--border-width) var(--border-style);
  border-radius: var(--border-radius--medium) !important;
  background: var(--colorbackbody) !important; // ? FIX #199 for Dark mod
}

@mixin multiboxcontainer() {
  border: var(--border-width) var(--border-style);
  border-radius: var(--border-radius--medium) !important;
  background: var(--colorbackbody) !important; // ? FIX #199 for Dark mod
}

@mixin boxtable() {
  //pour les petites boites dans les dashboard par ex ou les "items"
  border: var(--border-width) var(--border-style) var(--border-color-light) !important;
  border-radius: var(--border-radius--medium) !important;
  background: var(--colorbackbody) !important; // ? FIX #199 for Dark mod
  & > table {
    border-top: none;
    tr:last-child > * {
      border-bottom: none !important;
    }
  }
  //background: var(--bg-light) !important;
}
//pas de spécifique, essayer de généraliser le code le plus possible

@mixin formbox() {
  border: var(--border-width) var(--border-style);
  border-radius: var(--border-radius--medium) !important;
  background: var(--colorbackbody) !important; // ? FIX #199 for Dark mod
  padding: 1em !important;
}
