@mixin field_exergues() {
  span#ref_customer,
  span#priority,
  span#type,
  span#failure_frequency,
  span#warranty_return,
  span#warranty_prev_inter,
  span#ref,
  span#manufacturer {
    @content;
  }
}
span#description {
  font-weight: bold;
}
@include field_exergues() {
  font-weight: bold;
  //   font-size: 1em !important;
  display: inline;
  color: var(--colortextlink);
}

body.edit {
  @include field_exergues() {
    display: block;
  }
}
