:root {
  /* BUTTONS */
  --btn-color-success: #198754;
  --btn-color-utility: #2778c4;
  --btn-color-warning: #e09200;
  --btn-color-danger: #dc3545;

  /*?*/
  // --bg-light: rgb(255, 255, 255);
  // --bg-dark: hsla(0deg, 0%, 0%, 0.2);
}
