.tabs a#tab_notification:not(.loaded)
, .tabs a#tab_commentaire:not(.loaded)
{
    margin-right: 29.3px;
}
html[lang="ar"] .tabs a#tab_notification:not(.loaded)
, html[lang="ar"] .tabs a#tab_commentaire:not(.loaded) {
    margin-right: 0;
    margin-left: 29.3px;
}
.comments_list .comment{
	width: 90% !important;
    vertical-align: bottom;
	padding: 5px;
}
.comments_list .photouserphoto {
	height: 2.2em !important;
	width: 2.2em !important;
}

.comments_list td:first-child{
    width: 26px !important;
    vertical-align: top;
    white-space: nowrap;
    padding-right: 0;
    text-align: right;
}
.comments_list td:first-child a
, .comments_list td:first-child a span {
    padding: 0;
}
.comments_list span.date_comment{
	padding: 0 10px;
	color: #6b6666;
}
.comments_list span.fa-trash{
	/*color: #ce3232 !important;*/
}
.comments_list .edit_comment{
	display: none;
} 
.comments_list .repond_comment, .comments_list .edit_comment{
	display: none;
    /*padding-left: 40px;*/
    margin-top: 12px;
}
.comments_list .comment_fild .text_comment {
    /*padding-left: 40px;*/
}
.comments_list a.repond {
    color: #31a9d8;
    margin: 0 10px;
}
.comments_list a:hover{
	cursor: pointer;
	text-decoration: none;
}
.comments_list .comment_fild{
	padding: 2px 0 2px 8px;
	border-top: 1px solid #e0e0e052;
    border-left: 1px dashed #e0e0e0ed;
}
.comments_list .annulcomment{
	padding-left: 5px;
	display: none;
}
.comments_list .fa-remove:before{
	color: red;
}
.comments_list .comment_fild .comment_fild {
    margin-left: 40px;
}
.comments_list .comment_fild{
	/*display: none;*/
}
#notif_memebre .up{
	display: none;
}
.comments_list .comemnt_parent .down{
    display: none;
}
.comments_list .comemnt_parent .down, .comemnt_parent .up, #notif_memebre .down, #notif_memebre .up{
	color: #31a9d8;
	margin-left: 10px;
}

.comments_list input[type=submit]{
	background: #007bff;
    color: #fff;
    border: none;
    padding: 6px 20px 5px;
    border-radius: 4px;
    font-weight: bold;
    /*vertical-align: text-bottom;*/
    margin-top: 10px;
}
.comments_list input[type=submit]:hover,
.comments_list .cancel:hover
{
	cursor: pointer;
    opacity: 0.9;
}

.comments_list .cancel{
	background: rgb(234, 228, 225);
    color: #633;
    padding: 8px 15px;
    font-weight: bold;
    border-radius: 3px;
    margin-left: 5px;
    /*vertical-align: super;*/
}
.comments_list .action_repond{
	margin-left: 30px;
    margin-top: 8px;
    margin-bottom: 10px;
}

/* Notification */

div#notif_memebre .td_day{
	width: 100%;
    margin-top: 15px;
    text-align: center;
    margin-bottom: 30px;
    padding: 0px !important;
    border-bottom: 1px solid #6080a0 !important;
    
}
div#notif_memebre .td_day span{
	position: relative;
    top: 10px;
    margin: 0 auto;
    padding: 0 10px;
    font-weight: bold;
    font-size: 16px;
    background: white;
}

div#notif_memebre table {
    border: none;
}

.get_notif{
    cursor: pointer;
}

.notifs .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#nav{list-style:none;margin: 0px;
padding: 0px;}
#nav li {
float: left;
margin-right: 20px;
font-size: 14px;
font-weight:bold;
}
#nav li a{color:#333333;text-decoration:none}
#nav li a:hover{color:#006699;text-decoration:none}
#notification_li{position:relative}
#notificationContainer {
background-color: #fff;
border: 1px solid rgba(100, 100, 100, .4);
-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
overflow: visible;
/*position: absolute;*/
/*top: 30px;*/
/*margin-left: -170px;*/
width: 300px;
z-index: -1;
display: none;
}
#notificationContainer:before {
content: '';
display: block;
position: absolute;
width: 0;
height: 0;
color: transparent;
border: 10px solid black;
border-color: transparent transparent white;
margin-top: -20px;
margin-left: 230px;
}
#notificationTitle {
    z-index: 1000;
    font-weight: bold;
    padding: 8px 0 8px 8px;
    font-size: 13px;
    background-color: #ffffff;
    /*width: 100%;*/
    border-bottom: 1px solid #dddddd;
}

#notificationFooter {
background-color: #e9eaed;
text-align: center;
font-weight: bold;
padding: 8px;
font-size: 12px;
border-top: 1px solid #dddddd;
}
#notification_count {
padding: 3px 7px 3px 7px;
background: #cc0000;
color: #ffffff;
font-weight: bold;
margin-left: 77px;
border-radius: 9px;
position: absolute;
margin-top: -11px;
font-size: 11px;
}

#notificationContainer ul{
    list-style: none;
    padding-left: 10px;
}
#notificationContainer ul li{
    padding: 8px;
}
#notificationContainer a{
    color: #000 !important;
}

.comemnt_parent a.editcomment, .comemnt_parent a.annulcomment {
    margin: 8px;
}

.champs_edit {
    display: none;
}
.down:hover, .up:hover{
    cursor: pointer;
    text-decoration: none;
}
.gestionnotifscommentdiv {
    margin: 6px 0;
}
span.gestionnotifspictouser {
    float: left;
}
.gestionnotifscommenttext {
    display: inline-block;
    min-width: 90%;
}
.gestionnotifsselectusers {
    margin-bottom: 10px;
}
.gestionnotifsselectusers .select2-container {
    min-width: 80% !important;
}

.comments_list .text_comment {
    display: inline-block;
    width: 100%;
    padding: 1px;
}
.comments_list .actif_comment_link {
    background: #c7def7;
}
body .comments_list input[type=submit]:focus:not(.button):not(.select2-search__field):not(#top-bookmark-search-input) {border-bottom-left-radius: 4px !important;border-bottom-right-radius: 4px !important;border-bottom: none !important;}

.gestionnotifs_commentslist .gestionnotifs_newcomment{
    width: 35px;
    max-width: 35px;
} 
.gestionnotifs_newcomment span.red {
    color: #f66464;
    animation: comments_blinker_opacity 0.6s linear infinite;
}
@keyframes comments_blinker_opacity {  
    10% { opacity: 1; }
    20% { opacity: 0; }
    50% { opacity: 1; }
    70% { opacity: 1; }
    100% { opacity: 0; }
}
.gestionnotifs_commentslist .showhidecomments .top 
,.gestionnotifs_commentslist .span_comments
,.gestionnotifs_commentslist .comments_list a.repond
,.gestionnotifs_commentslist a.editcomment
,.gestionnotifs_commentslist a.removecomment
,.gestionnotifs_commentslist a.annulcomment
{
    display: none;
}
.gestionnotifs_commentslist .showhidecomments span.downtop{
    cursor: pointer;
    height: 13px;
    padding: 5px 8px;
    text-align: center;
    background-color: var(--colorbacktitle1);
    border-radius: 50px;
    font-size: 14px;
    margin: 0 5px;
}
.gestionnotifs_commentslist .showhidecomments span.downtop:hover{
    background-color: #fff;
}
.gestionnotifs_commentslist .comments_list table{
    font-size: 0.82em;
    margin: 0;
}
.gestionnotifs_commentslist .showhidecomments {
    vertical-align: top;
}
.gestionnotifs_commentslist .span_comments .comments_list {
    max-height: 350px;
    overflow-y: auto;
}
.gestionnotifs_commentstype label {
    cursor: pointer;
    margin-bottom: 10px;
    display: inline-block;
}


.add_joint {
    color: #838c91;
    cursor: pointer;
    float: left;
    margin: 0 10px;
    font-size: 16px;
}
#add_photo{
    opacity: 0;
    width: 1px;
    height: 1px;
    padding: 0;
    /*float: left;*/
}
#files_joints ul {
    list-style: none;
}
#files_joints img {
    height: 72px;
}
.comments_list .one_file{
    float: left;
    position: relative;
}
.comments_list .add_photo{
    opacity: 0;
    width: 1px;
    height: 1px;
    padding: 0;
    font-size: 0px;
    position: absolute;
    left: 0;
    margin-left: 8px;
}
.comments_list .files_joints ul {
    list-style: none;
    margin: 4px;
    padding: 0;
}
.comments_list .files_joints.edit ul {
    margin:4px 0 10px;
}
.comments_list .files_joints.edit{
    margin-bottom: 6px;
}
.comments_list .files_joints ul li{
    display: inline-block;
    margin: 0 5px;
    border: 1px solid #ddd;
    padding: 2px;
    position: relative;
    background: #fff;

}
.comments_list .files_joints img {
    height: 35px;
}
.comments_list .add_plus {
    cursor: pointer;
    /*float: left;*/
    font-size: 17px;
    margin: 0 11px;
}
.comments_list span.add_joint.filledjoint {
    color: #6ac153;
}

.comments_list .files_joints {
    margin: 15px 0 5px;
}

.comments_list .files_joints.edit ul li:hover span {
    display: block;
}
.comments_list .files_joints.edit ul li span {
    position: absolute;
    width: 100%;
    height: 35px;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 36px;
    /*border: solid 1px #ccc;*/
    background: #fff;
    display: none;
    font-size: 13px;
}
.comments_list .text_comment .files_joints .onlyforedit {
    display: none !important;
}
.gestionnotifs_commentslist tr.new_comment td {
    background: #fcf8e3;
}
span.gestionnotifs_calc_unreded_comments {
    background-color: #f66464;
    padding: 0px 7px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 12px;
    position: absolute;
    right: 0;
    margin-left: -5px;
    top: -2px;
    line-height: 18px;
    height: 18px;
}
.gestionnotifs_toprightmenu {
    position: relative;
}
.comments_list .private_users_msg {
    font-size: 11px;
}
.comments_list .edit_comment .private_users_msg {
    display: none;
}
.comments_list .private_users_msg .photouserphoto {
    height: 1.2em !important;
    width: 1.2em !important;
}
.comments_list .private_users_msg hr {
    max-width: 300px;
    margin: 10px 0;
    border-top: 1px dashed #ccc;
}
.gestionnotifs_commentstype span.opacitymedium {
    margin: 0 5px;
}
/*.gestionnotifs_commentstype span.opacitymedium:before {
    content: "(";
}
.gestionnotifs_commentstype span.opacitymedium:after {
    content: ")";
}*/
.comments_list td:first-child a[href*="?socid="] {
    display: none;
}
.txtlowercase {
    text-transform: lowercase;
}
span.gestionnotifs_calc_unreded_comments {
  animation: gestionnotifs_blinker 0.6s linear infinite;
}
@keyframes gestionnotifs_blinker {  
    10% { background-color: #f66464; }
    20% { background-color: #000; }
    50% { background-color: #f66464; }
    70% { background-color: #f66464; }
    100% { background-color: #000; }
}