@keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 60px 0;
  }
}

#BoxInterventionStatus {
  // grid-column: span 2;
  grid-row: span 2;
  .content {
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }

  .status-container {
    column-span: all !important;
    overflow-x: scroll;
    height: 100%;
    display: flex;
    align-items: center;
    // flex-wrap: wrap;

    z-index: var(--z_index30);
    .status-item {
      height: 2.6rem;
      // flex-grow: 1;
      flex-basis: 1%;
      margin: 0;
      padding: 0.25em 1em;
      border: none;
      position: relative;
      /**/
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 0.25em 0.5em;
      // line-height: 2em;
      white-space: nowrap;
      border: solid 1px;
      color: initial !important;
      opacity: 0.5;
      border-radius: 5rem;
      text-align: right;

      span {
        // animation: box_shadow_anim 2s infinite;
        // box-shadow: textShadow($k: 20);

        // font-size: 1.5rem;
        line-height: 1.5rem;
        margin-right: 0.5rem;

        //border: solid 2px currentColor;
      }

      &:before {
        z-index: var(--z_index30);
        position: absolute;
        content: "";
        display: none;
        width: 50%;
        top: 0.5rem;

        height: 1rem;
        opacity: 1;
        z-index: var(--z_index10);
      }

      &:before {
        left: 0;
      }
      &:first-child {
        &:before {
          display: none;
        }
      }
      &:last-child {
      }
      /* CUSTOM STATUS ON CHRONOLOGIE */
      &.status-before-active {
        span {
          // background: $color-before;
          // color: $color-before;
        }
      }
      &.status-active {
        // flex-grow: 3;
        opacity: 1;
        border: solid 1px transparent;
        position: sticky;
        right: 0;
        align-items: center;
        font-weight: bold;
        color: var(--contrasted, currentColor) !important;
        background: var(
          --color,
          color-mix(in srgb, currentColor 20%, transparent)
        ) !important;
        &:before {
          // animation: animate-stripes 1s linear infinite;
          // background: $color-before;
          animation: animate-stripes 2s linear infinite;
        }

        span {
          // background: $color-active;
        }
      }
      &.status-after-active {
        &:before,
        &:after {
          // animation: animate-stripes 3s linear infinite;
        }
        // color: $color-after;
        span {
          // color: currentColor;
          // background: $color-after;
        }
      }
    }
  }
}
